---
// Assets
import BgGrid from "@/components/assets/BgGrid.astro";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper class="border-b divide-y divide-white/20">
    <div class="p-8 relative">
      <BgGrid />
      <Text
      tag="h2"
        variant="displayMD"
        class="text-white font-black uppercase tracking-tight text-balance"
      >
      We built Swipe . Photo to help people move forward. 
      <br />
      <br />
      Our phones quietly collect years of moments, screenshots, and memories we never meant to keep. 
      <br />
      <br />
      Turn clutter into clarity. Create space for what actually matters.
      </Text>
    </div>
  </Wrapper>
</section>
