---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import StoreCard from "@/components/store/StoreCard.astro";
// Content
import { getCollection } from "astro:content";
const allProducts = await getCollection("store");
---

<BaseLayout
  title="Store | Swipe.Photo"
  description="Digital products, presets, and tools to help you take better photos and keep your camera roll organized."
>
  <section>
    <Wrapper variant="standard">
      <div class="p-8 bg-grid">
        <Text
          tag="h1"
          variant="display3XL"
          class="text-white tracking-tighter font-black uppercase relative"
        >
          Store
        </Text>
      </div>

      <div
        class="p-8 grid grid-cols-1 md:grid-cols-2  gap-8 border-t border-white/20"
      >
        {allProducts.map((item) => <StoreCard post={item} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
