---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="border-b border-white/20">
    <div class="p-8 relative bg-grid">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-end">
        <Text
          tag="h2"
          variant="displayLG"
          class="text-white font-black uppercase tracking-tighter"
        >
          Subscribe to our newsletter
        </Text>
        <form class="w-full flex flex-col sm:flex-row gap-2">
          <label for="email-address" class="sr-only">Email address</label>
          <input
            type="email"
            name="email"
            id="email-address"
            autocomplete="email"
            required
            class="w-full bg-base-950 border border-white/20 rounded-full h-13 px-4 py-3 text-white placeholder-white/40 focus:outline-none focus:ring-2 focus:ring-accent-500 focus:border-transparent transition-all duration-200"
            placeholder="Enter your email"
          />
          <Button isLink size="sm" variant="accent" type="submit" class="w-fit">
            Subscribe
          </Button>
        </form>
      </div>
    </div>
  </Wrapper>
</section>
