---
import logoImage from "@/images/site/sp-logo.png";

const { class: className = "", size = "1.4em", ...rest } = Astro.props;
---

<span class={className} {...rest}>
  <img
    src={logoImage.src}
    alt="Swipe.Photo logo"
    style={`margin-right: 0.3em; height: ${size}; width: auto; display: inline-block; vertical-align: middle;`}
  />
  Swipe . Photo
</span>
